# /usr/lib/systemd/system/
[Unit]
Description=A script that restores data on the RAM disk
Before=umount.target

[Service]
Type=oneshot
User=gregory
ExecStart=/usr/bin/cp /mnt/RAM_disk_backup/* /mnt/RAM_disk/
#ExecStop=/usr/bin/rsync -ar /mnt/RAM_disk/ /mnt/RAM_disk_backup/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
