#.local/share/applications
[Desktop Entry]
Name=Minecraft
Comment=Amazing game by Mojang
#Path=/home/gregory/.minecraft/
Path=.minecraft
Exec=java -jar launcher.jar
Icon=steam
Terminal=false
Type=Application
Categories=Game;
